:root{}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
}
.main{
    width: 100%;
    height: 100vh;
}
.block1{
    display: grid;
    /* padding: 200px;
    box-sizing: border-box; */
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    gap: 100px;
    justify-content: center;
    background: rgb(227, 227, 239);
}
.card{
    width: 200px;
    height: 200px;
    background: grey;
    border-radius: 32px;
    animation: 4s linear 0s infinite alternate ;
}
.card:first-child{
    background: url(../images/get\ scared) center/cover;
}
.card:nth-child(2){
    background: url(../images/CollidewiththeSkycover.jpg) center/cover;
}
.card:nth-child(3){
    background: url(../images/sws.webp) center/cover;
}

.cardClicked{
    animation: 3s linear 1s infinite alternate slidein;
}

@keyframes slidein{
    from{
        transform: translateX(0px);
        opacity: 1;
    }
    to{
        transform: translateX(50px);
        opacity: 0;
    }
}